﻿

<style>
    ul
{
    padding: 0;
    list-style-type: none;
    
}
</style>

<div class="panel-body" ng-controller="FilesInfoController">  
   
    <div ng-hide="dataLoaded">Data loading...</div>
    <div ng-show="dataLoaded">
        <table class="table">
            <thead>
                <tr>
                    <th>Less 10mb</th>
                    <th>10mb-50mb</th>
                    <th>More 100mb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{FilesInfo.QntFilesLessThen10MB}}</td>
                    <td>{{FilesInfo.QntFilesLessThen50MB}}</td>
                    <td>{{FilesInfo.QntFilesMoreThen100MB}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Current path is:  <small>{{FilesInfo.CurrDir}}</small></h4>

        <ul ng-repeat="fdr in FilesInfo.Folders">
            <li><a href="#" ng-click="getDir(fdr)">{{fdr}}</a></li>
        </ul>

        <ul ng-repeat="fls in FilesInfo.Files">
            <li>{{fls}}</li>
        </ul>
    </div>
   
</div>

